/* External Style Sheet */

/* Make all font on webpage Arial */
body {
  font-family: Arial;
}

/* Center the headers */
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}

/* Create a flex container for the three columns */
.row {
  display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

/* Set each column to 1/3 of page */
#col1 {
  width: 33.3%;
  min-height: 400px;
}

#col2 {
  width: 33.3%;
  min-height: 400px;
}

#col3 {
  width: 33.3%;
  min-height: 400px;
}

/* Add 50% Opacity to Bars and Circles */
.point {
  opacity: 50%;
}

.bar {
  opacity: 50%;
}

/* Change stroke color, stroke width, and opacity when points are selected */
.selected {
  stroke-width: 1px;
  stroke: orange;
  opacity: 1;
}
